html, body {
  height: 100%;
}

body {
  background: radial-gradient(#90CAF9, #2196F3);
  display: flex;
}

.mdl-list__item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: .5px !important;
}

.mdl-button {
  height: 48px !important;
  margin-left: 1px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  background: #b71c1c !important;
  color: #fff !important;
}

.light {
  background: #F44336 !important;
}

.light_l {
  background: #C62828 !important;
}

.null {
  min-width: 129px !important;
}

.text {
  width: 259px;
  border-radius: 2px;
  height: 72px !important;
  margin-left: 1px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  background: #b71c1c !important;
  color: rgb(66, 66, 66) !important;
  text-align: center;
  align-self: center;
  position: relative;
}

.inner {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 247px;
  border-radius: 2px;
  height: 44px !important;
  margin-left: 1px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  background: #BBDEFB !important;
  color: rgb(66, 66, 66) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.inner p {
  margin-top: 11px;
  margin-right: 5px;
  text-align: right;
  font-size: 18px;
}
