body {
  background-color: #0ca;
}
* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
p {
  font-size: 18px;
  text-align: center;
}
#mainQuote {
  font-size: 20px;
}
#footerQuote {
  font-size: 22px;
  text-align: right;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.button1 {
    background-color: #8ca;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.container blockquote {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #0cd;
   border-radius: 4px;
}
.container p {
    width: 600px;
    padding: 15px;
}
a {
  color: hsla(170, 70%, 30%, 1);
}
.home__links {
    margin-right: auto;
    margin-left: auto
}
.home__link {
        width: 230px
    }
.home__link:focus, .home__link:hover {
        top: -4px
    }
.home__link {
    padding-top: 14px;
    position: relative;
    top: 3px;
    display: inline-block;
    height: 54px;
    border-width: 2px;
    border-right: solid;
    border-left: solid;
    border-color: #141c22;
    background-color: #141c22;
    background-image: url("../img/home__link-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 5px 7px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    z-index: 1;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: top;
    transition-property: top
}
